#device-info {
    height: 20vh; /* 20% of the viewport height */
}


#power-chart-section {
    height: 50vh; /* Adjust this value as needed */
    overflow: visible; /* Allows the chart to exceed the section height if necessary */
}
#power-chart {
    width: 100% !important;
    height: 100% !important;
}

#device-controls {
    height: 20vh; /* 20% of the viewport height */
}

#device-info,
#power-chart-section,
#device-controls {
    overflow: auto; /* add scrollbars if the content overflows */
}

.hidden {
    display: none;
}
